body{
    Font-family: Helvetica,Arial,sans-serif;
    padding:0px;
    margin:0px;
}

.img-india-container{
    width: 60px;
    height:40px;
}
.in-flag{
    width:30px;
    height:24px;
}
.lh-xsm{
line-height: 5px;
}

.lh-xl{
    line-height: 50px;
}
footer,.sm-text{
    font-size: .8rem;
    
}
.mt-10{
    margin-top:100px;
}
.section-margin{
    margin-top: 100px;
    margin-bottom: 50px;
}
ul li{
    cursor: pointer;
}
.section-sub-title{
    font-size: 26px;
    font-weight: 400;
}
.global-image{
    width:32px;
    height:24px;
}

.img-zoom{
    transition: .6s ease-in-out;
}
.img-zoom:hover{
    transform: scale(1.2);
    transition: .6s ease-in-out;
}
.img-nav-logo{
    width:70px;
    height: 25px;
}
@media screen and (min-width:768px){
    .body-block{
        width:80%;
     }
}
@media screen and (max-width:1200px){
    #header-contents{
    display: none;
    }
    #header-mobile-contents{
        display:flex;
        flex-direction: column;
        align-items:center;
        visibility: visible;
    }
}
@media screen and (min-width:1200px){
    #header-contents{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #header-mobile-contents{
    display: none;    }
}
@media screen and (max-width:1400px){
    .region-select,.search,.img-india-container{
        display: none;
    }
    .section-margin{
        margin-top: 25px;
        margin-bottom: 25px
    }
    .mobile-view-nav{
       display:flex;
       justify-content: space-between;
       width: 100%;
       padding-right: 20px;
       align-items: center;
    }
    .img-nav-logo-mobile{
        display: inline;
        width:70px;
        height: 25px;
    }
    .img-nav-logo,.img-india-container,.nav-right,.region-select{
        display: none;
    }
   #navbar-content li{
    text-align: center;
    padding: 8px 0px;
    border-bottom: 1px solid grey;
   }
   .float-menu-container{
    position: relative;
    background-color: rgba(255,255,255,.95);
        top:54px;
        right:22px;
    height: 100vh;
    width: 100vw;
   }
   #navbar-content{
    position:absolute ;
    top:0px;
    
   }
    .body-block-navbar{
        width: 100%;
    }
}
@media screen and (min-width:1400px){
    .region-select{
        display: flex;
        flex-direction: column;
    }
    .img-nav-logo-mobile{
        display: none;
    }
    .img-nav-logo{
        display: inline;
    }
    .main-navbar-container {
        display: flex;
        justify-content: space-between;
    }
    .mobile-view-nav{
        display: none;
    }
}

