body{
    Font-family: Helvetica,Arial,sans-serif;
    padding:0px;
    margin:0px;
}

.in-flag{
    width:32px;
    height:24px;
}
.lh-xsm{
line-height: 5px;
}

.lh-xl{
    line-height: 50px;
}
footer,.footer-text{
    font-size: .8rem;
    
}
.section-sub-title{
    font-size: 26px;
    font-weight: 400;
}
.global-image{
    width:32px;
    height:24px;
}
.header-section{
    background-image: url("../images/header.png");
    width:100%;
    height:50vh;
    background-position: center;
    object-fit: cover;
    background-size: cover;
 
}
.img-zoom:hover{
    transform: scale(1.2);
    transition: 1s ease-in-out;
}

@media screen and (min-width:768px){
    .body-block{
        width:80%;
     }
}
