body{
    Font-family: Helvetica,Arial,sans-serif;
    padding:0px;
    margin:0px;
}

.img-india-container{
    width: 60px;
    height:40px;
}
.in-flag{
    width:30px;
    height:24px;
}
.lh-xsm{
line-height: 5px;
}

.lh-xl{
    line-height: 50px;
}
footer,.sm-text{
    font-size: .8rem;
    
}
.mt-10{
    margin-top:100px;
}
.section-sub-title{
    font-size: 26px;
    font-weight: 400;
}
.global-image{
    width:32px;
    height:24px;
}

.img-zoom{
    transition: .6s ease-in-out;
}
.img-zoom:hover{
    transform: scale(1.2);
    transition: .6s ease-in-out;
}
.img-nav-logo{
    width:70px;
    height: 25px;
}
@media screen and (min-width:768px){
    .body-block{
        width:80%;
     }
}
@media screen and (max-width:1200px){
    #header-contents{
    display: none;
    }
    #header-mobile-contents{
        display:flex;
        flex-direction: column;
        align-items:center;
        visibility: visible;
    }
}
@media screen and (min-width:1200px){
    #header-contents{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #header-mobile-contents{
    display: none;    }
}
